<footer class="page-footer">
    <div class="container">
        <p class="center">
            Created by karmek-k ~
            <a href="https://github.com/karmek-k/git-guestbook">
                <u class="white-text">source code</u>
            </a>
        </p>
    </div>
</footer>