<nav>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('guestbooks_list') }}">List your guestbooks</a>
        <a href="{{ path('connect_logout') }}">Log out</a>
    {% else %}
        <a href="{{ path('connect_github') }}">Log in with GitHub</a>
    {% endif %}
</nav>