{% extends 'base.html.twig' %}

{% block title %}My Guestbooks{% endblock %}

{% block body %}
<h1>My Guestbooks</h1>
<a href="{{ path('guestbooks_create') }}">New guestbook</a>
<ul>
    {% for guestbook in guestbooks %}
        <li>
            <a href="{{ path('entries_list', { guestbook_id: guestbook.id }) }}">
                {{ guestbook.name }}
            </a>
        </li>
    {% else %}
        <li>No guestbooks</li>
    {% endfor %}
</ul>
{% endblock %}
