{% extends 'base.html.twig' %}

{% block title %}My Guestbooks{% endblock %}

{% block body %}
<h1>My Guestbooks</h1>
<a class="btn waves-effect waves-light" href="{{ path('guestbooks_create') }}">
    <i class="material-icons left">add</i>
    New guestbook
</a>
<br />

{% if guestbooks %}
    <table style="margin-top: 1.5rem;">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for guestbook in guestbooks %}
                <tr>
                    <td>
                        <a href="{{ path('entries_list', { guestbook: guestbook.id }) }}">
                            {{ guestbook.name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
